In [14]:
#!pip install pandas

In [15]:
# import relevant modules
import pandas as pd

In [16]:
# read grades dataset, save as a pandas dataframe
grades = pd.read_csv('F:\Python\Ex_Files_Python_Data_Functions\Ex_Files_Python_Data_Functions\Exercise Files\grades.csv')

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\HOME\AppData\Local\Temp\ipykernel_16008\2318189302.py:2: SyntaxWarning: invalid escape sequence '\P'
  grades = pd.read_csv('F:\Python\Ex_Files_Python_Data_Functions\Ex_Files_Python_Data_Functions\Exercise Files\grades.csv')

In [17]:
# display first few rows of grades
grades.head()

   exam  student_id  grade
0     1           1   86.0
1     1           2   65.0
2     1           3   70.0
3     1           4   98.0
4     1           5   89.0

In [18]:
def lowest_grade(student_id):
    
    """Find lowest grade across all exams for student with given student_id.
    Treat missing exam grades as zeros."""
    
    return grades.loc[grades['student_id'] == student_id]['grade'].fillna(0).min()

In [22]:
# test lowest_grade on student_id 1
assert lowest_grade(1) == 0.0, 'test failed'
print('test passed')

test passed

In [20]:
# sequence containing all distinct student ids
student_ids = grades['student_id'].unique()
student_ids

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [21]:
# apply lowest_grade to each student id
list(map(lowest_grade, student_ids))

[np.float64(0.0),
 np.float64(0.0),
 np.float64(70.0),
 np.float64(0.0),
 np.float64(0.0),
 np.float64(0.0),
 np.float64(75.0),
 np.float64(56.0),
 np.float64(73.0),
 np.float64(75.0)]